.hex { 
  margin-top: 15px;
  width: 52px;
  height: 30px;
  margin-bottom: 9px;
  margin-left: -5px;
  background-color: #91BEDB;
  position: relative;
  transform: rotate(90deg);
  transition: background-color .1s;  
  &:before {
    content: " ";
    width: 0; height: 0;
    transition: border-bottom-color .1s;      
    border-bottom: 15px solid #91BEDB;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px;
  }
  &:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -15px;
    transition: border-top-color .1s;          
    border-top: 15px solid #91BEDB;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
  }

  &.darker {
    background-color: #92ccf3;   
    &:before {
      border-bottom-color: #92ccf3;      
    }
    &:after {
      border-top-color: #92ccf3;   
    }
  }

  &.dark {
    background-color: #96bfdb;    
    &:before {
      border-bottom-color: #96bfdb;      
    }
    &:after {
      border-top-color: #96bfdb;    
    }
  }

  &.medium {
    background-color: #a4c3d8;   
    &:before {
      border-bottom-color: #a4c3d8;           
    }
    &:after {
      border-top-color: #a4c3d8;           
    }
  }

  &.light {
    background-color: #8f989e;   
    &:before {
      border-bottom-color: #8f989e;
    }
    &:after {
      border-top-color: #8f989e;
    }
  }
}