.hex { 
  margin-top: 15px;
  width: 52px;
  height: 30px;
  margin-bottom: 9px;
  margin-left: -5px;
  background-color: #6C6;
  position: relative;
  transform: rotate(90deg);
  transition: background-color .1s;  
  &:before {
    content: " ";
    width: 0; height: 0;
    transition: border-bottom-color .1s;      
    border-bottom: 15px solid #6C6;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px;
  }
  &:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -15px;
    transition: border-top-color .1s;          
    border-top: 15px solid #6C6;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
  }

  &.darker {
    background-color: #3390bb;   
    &:before {
      border-bottom-color: #3390bb;      
    }
    &:after {
      border-top-color: #3390bb;   
    }
  }

  &.dark {
    background-color: #4fa6cc;    
    &:before {
      border-bottom-color: #4fa6cc;     
    }
    &:after {
      border-top-color: #4fa6cc;   
    }
  }

  &.medium {
    background-color: #71B6DB;   
    &:before {
      border-bottom-color: #71B6DB;            
    }
    &:after {
      border-top-color: #71B6DB;          
    }
  }

  &.light {
    background-color: #91BEDB;   
    &:before {
      border-bottom-color: #91BEDB;
    }
    &:after {
      border-top-color: #91BEDB
    }
  }
}